/* ------------------------- modifiche html e body standard -------------------------*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;

  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ------------------------------------- sezione 1 -------------------------------------*/
.header-container {
  padding: 0 200px;
}

img {
    height: 200px;
    width: 200px;
}

.header-container,.header,.title-content,.header-links {
    background-color: #1f2937;
    color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 15px 150px;
}

.header > div{
  font-size: 24px;
  color: #f9f1f8;
}

.header-links {
  display: flex;
  gap: 10px;
}

div > a, .left-title-content > p {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 0;
  margin: 5px;
}

.title-content {
  display: flex;
  margin: 0 150px;
  justify-content: space-between;
  padding: 100px 0;
}

.main-title  {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 3px 25px;
  display: flex;
  flex-shrink: 0;
}

/* ------------------------------------- sezione 2 -------------------------------------*/

.section2-container {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
}

.title-section2 {
  flex-direction: column;
  margin: 0 150px; 
}

.title-section2 > h1 {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.images, .text-container-section2 {
  display: flex;
  flex-shrink: 0;
  justify-content: center; 
  gap: 32px;
  margin-bottom: 10px;
}

img {
  min-width: 250px;
  min-height: 250px;
}

.text-container-section2 p {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  width: 250px;
}

.section3-container {
background-color: #e5e7eb;
font-size: 36px;
font-weight: 300;
justify-content: center;
}

/* ------------------------------------- sezione 3 -------------------------------------*/

.section3-container {
  padding: 100px 300px;
}

.text-container-section3 {
  min-width: 400px;
  margin: 0 150px;
  padding: 75px 0;
  align-content: center;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  background-color: #e5e7eb;
  color: #1f2937;
}

.sign-section3 {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
  font-size: 24px;
}

/* ------------------------------------- sezione 4 -------------------------------------*/

.section4-container {
  padding: 100px 500px;
}

.text-container-section4 {
  background-color: #3882f6;
  border-radius: 7px;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 400px;
}

.left-text-section4 p {
  font-size: 18px;
}

div.button-section4 {
  background-color: #3882f6;
  color: white;
  border-radius: 6px;
  border: 1px solid white;
  padding: 3px 25px;
  display: flex;
  flex-shrink: 0;
}

/* ------------------------------------- sezione 4 -------------------------------------*/

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  font-size: 18px;
  color: white;
}