html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;

  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

img {
    height: 200px;
    width: 200px;
}

.header-container,.header,.title-content,.header-links {
    background-color: #1f2937;
    color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 15px 150px;
}

.header > div{
  font-size: 24px;
  color: #f9f1f8;
}

.header-links {
  display: flex;
  gap: 10px;
}

div > a, .left-title-content > p {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 0;
  margin: 5px;
}

.title-content {
  display: flex;
  margin: 0 150px;
  justify-content: space-between;
  padding: 100px 0;
}

.main-title  {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px 20px;
}

.section2-container {
  display: flex;
  flex-direction: column;
}

.title-section2 {
  flex-direction: column;
  margin: 0 150px; 
}

.title-section2 > h1 {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.images {
  display: flex;
  flex-shrink: 0;
  justify-content: center; 
  gap: 32px;
}

img {
  min-width: 250px;
  min-height: 250px;
}

.text-container-section2 {
  display: flex;
  flex-shrink: 0;
  justify-content: center; 
  gap: 32px;
}

.text-container-section2 p {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  width: 250px;
}